flows (1).json
[{"id":"a3acf8bf.cbe358","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"a3acf8bf.cbe358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"44fe9e77.3396f","type":"cloudant in","z":"a3acf8bf.cbe358","name":"","cloudant":"","database":"sample","service":"node-red-xlswg-cloudant-1593685560398-87178","search":"_id_","design":"68391cdfb830f724a5292cecf1fa1b37","index":"\"index\": {       \"fields\": [          \"foo\"       ]    }","x":140,"y":280,"wires":[["f2f2649a.0d0d98"]]},{"id":"ec6fdc2a.58fba","type":"ibmiot in","z":"a3acf8bf.cbe358","authentication":"apiKey","apiKey":"467eb5b0.679a0c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"654321","applicationId":"","deviceType":"Bugga","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":180,"wires":[["f2f2649a.0d0d98"]]},{"id":"446661dd.ce2fb","type":"http in","z":"a3acf8bf.cbe358","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":210,"y":420,"wires":[["deab5d6.189bca"]]},{"id":"70681e0c.e4d11","type":"http response","z":"a3acf8bf.cbe358","name":"","statusCode":"","headers":{},"x":660,"y":420,"wires":[]},{"id":"deab5d6.189bca","type":"function","z":"a3acf8bf.cbe358","name":"","func":"msg.payload={\"Student1\":\"Prahas\",\"Attendance percentage of prahas\":\"75\",\n             \"Student2\":\"Nikhila\",\"Attendance percentage of nikhila\":\"75\",\n             \"Student3\":\"Vaishnavi\",\"Attendance percentage of vaishnavi\":\"75\",\n             \"faculty1\":\"Greeshma\",\"Attendance percentage of greeshma\":\"95\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":420,"wires":[["70681e0c.e4d11"]]},{"id":"f8c2bc10.aaad9","type":"ui_button","z":"a3acf8bf.cbe358","name":"","group":"6d140df7.b2dd64","order":0,"width":0,"height":0,"passthru":false,"label":"DETAILS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":140,"y":560,"wires":[["bdd200cd.df5fb"]]},{"id":"bdd200cd.df5fb","type":"ibmiot out","z":"a3acf8bf.cbe358","authentication":"apiKey","apiKey":"467eb5b0.679a0c","outputType":"cmd","deviceId":"654321","deviceType":"Bugga","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":560,"wires":[]},{"id":"467eb5b0.679a0c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"6d140df7.b2dd64","type":"ui_group","z":"","name":"Default","tab":"826a2d06.f0374","order":1,"disp":true,"width":"6","collapse":false},{"id":"826a2d06.f0374","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]